# Default values for aivenator.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# Github workflow will set .image.tag to the built version before packaging
image:
  repository: europe-north1-docker.pkg.dev/nais-io/nais/images/aivenator
  pullPolicy: Always
  tag: latest

resources:
  limits:
    memory: 4Gi
  requests:
    cpu: 200m
    memory: 512Mi

extraEnv: {}
caBundle: false

clusterName: # Name of the cluster in NAIS convention
tenant: # Name of the tenant

aiven:
  projects: # Space separated list of Aiven projects with Kafka clusters available for this aivenator instance
  mainProject: # Main Aiven project for services that only support one
  serviceUserLimit: 50 # Number of service users allowed for main project Kafka
  token: "" # API token for Aiven with access to above-mentioned projects
  mainCidr: # CIDR for main Aiven project VPC
  cidrs: [] # List of additional CIDRs for other Aiven project VPCs

replicationConfig: false # Replicate common resources (e.g. NetworkPolicies) to all namespaces
