apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "aivenator.fullname" . }}
  labels:
    {{- include "aivenator.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "aivenator.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "aivenator.selectorLabels" . | nindent 8 }}
      annotations:
        kubectl.kubernetes.io/default-container: {{ .Chart.Name }}
        checksum/secret: {{ include (print $.Template.BasePath "/secret.yaml") . | sha256sum }}
    spec:
      serviceAccountName: {{ include "aivenator.serviceAccountName" . }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
          - name: AIVENATOR_LOG_FORMAT
            value: json
          - name: AIVENATOR_METRICS_ADDRESS
            value: 0.0.0.0:8080
          - name: AIVENATOR_PROJECTS
            value: "{{ .Values.aiven.projects }}"
          - name: AIVENATOR_MAIN_PROJECT
            value: "{{ .Values.aiven.mainProject }}"
          envFrom:
            - secretRef:
                name: {{ include "aivenator.fullname" . }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /metrics
              port: http
          readinessProbe:
            httpGet:
              path: /metrics
              port: http
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            - mountPath: /tmp
              name: tmpdir
      volumes:
        - name: tmpdir
          emptyDir: {}
