name: Build and deploy Aivenator

on: [push]

env:
  image_base: ghcr.io/${{ github.repository }}/aivenator

jobs:
  build:
    name: Build and push
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Generate image environment variable
        id: set-image-tag
        run: |
          version=$(./version.sh)
          echo "version=${version}" >> $GITHUB_ENV
          echo "::set-output name=version::${version}"
          echo "AIVENATOR_IMAGE=${image_base}:${version}" >> $GITHUB_ENV
          echo "::set-output name=image::${AIVENATOR_IMAGE}"
      - name: Login to GitHub Packages Docker Registry
        uses: docker/login-action@ab80d026d4753220c4243394c07c7d80f9638d06 # Use commit-sha1 instead of tag for security concerns
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: ${{ env.image_base }}:latest,${{ env.AIVENATOR_IMAGE }}
    outputs:
      image: "${{ steps.set-image-tag.outputs.image }}"
      version: "${{ steps.set-image-tag.outputs.version }}"

  deploy:
    name: Deploy to nais-yaml
    if: github.ref == 'refs/heads/main'
    needs: build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Generate image environment variable
      run: |
        version=$(./version.sh)
        echo "version=${version}" >> $GITHUB_ENV
        echo "AIVENATOR_IMAGE=${image_base}:${version}" >> $GITHUB_ENV
        echo "NAIS_YAML=${GITHUB_WORKSPACE}/nais-yaml" >> $GITHUB_ENV
    - name: Bump version in nais-yaml
      env:
        DEPLOY_KEY: ${{ secrets.SRVNAIS_REPO_PUSH_PAT }}
        GIT_SSH_COMMAND: "ssh -o StrictHostKeyChecking=no"
      run: |
        eval "$(ssh-agent -s)"
        ssh-add - <<< "${DEPLOY_KEY}"
        mkdir -p $NAIS_YAML
        git clone git@github.com:navikt/nais-yaml.git $NAIS_YAML
        cd $NAIS_YAML
        git config user.name "$GITHUB_ACTOR"
        git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
        sed -E -i "s#aivenator_image:.+#aivenator_image: ${AIVENATOR_IMAGE}#" vars/global.yaml
        git add .
        git --no-pager diff --cached
        git commit --no-verify -a -m "Bump Aivenator to version ${{ needs.build.outputs.version }}"
        git push
